<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.chemguan.dao.IntegralMallDao">
	<select id="findAllProducts" resultType="com.chemguan.entity.IntegralMall" parameterType="java.util.Map"> 
		select * from products where columnID=43
		<if test="start != null">
  				limit #{start},#{pageSize}
  			</if>
	</select>
	
  	<select id="findAllqita" parameterType="java.util.Map" resultType="com.chemguan.entity.IntegralMall">
  			select * from products where columnID=42 
  			<if test="start != null">
  				limit #{start},#{pageSize}
  			</if>
  	</select>
  	
  	<select id="findLike" resultType="com.chemguan.entity.IntegralMall">
  			select id,imgURL,productName,addDate from products order by VisitCount desc limit 3
  	</select>
  	<select id="findAllid" resultType="com.chemguan.entity.Products" parameterType="java.lang.Integer">
			select * from Products where 	id=#{id}
  	</select>
  	
  	<select id="findAddress" resultType="java.lang.String" parameterType="java.lang.Integer">
  			select address from users where id=#{id}
  	</select>
  	
  	<select id="visitCount"  parameterType="java.util.Map">
  			update products set visitCount = #{visitCount} where id =#{id}
  	</select>
  	
  	
</mapper>
